.div_about_inicio {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.div_about_inicio_desc {
    color: #FFF;
    font-size: 3vw;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vw;
}

.div_about_overview {
    height: 50vh;
    color: #323232;
    margin: 3vw 0;
    padding: 0 15vw;
    white-space: pre-line;
    font-size: 1.5vw;
}

@media screen and (orientation: portrait) {
    .div_about_inicio {
        height: 20vh;
    }
    .div_about_inicio_desc {
        width: 80vw;
        font-size: 5vw;
    }
    .div_about_overview {
        height: 63vh;
        display: flex;
        font-size: 4vw;
        overflow-y: scroll;
        margin: 8vw 0;
    }
}