.div_about_inicio {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.div_about_inicio_desc {
    background-color: #FBB91F;
    color: #3947B7;
    font-size: 2.5vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vw;
    border-radius: 2vw 0px 2vw 0px;
    box-shadow: 1vw 1vw #3947B7;
}

.div_about_overview {
    height: 50vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 3vw 0;
    padding: 0 15vw;
    white-space: pre-line;
    font-size: 1.5vw;
}

@media screen and (orientation: portrait) {
    .div_about_inicio {
        height: 20vh;
    }
    .div_about_inicio_desc {
        font-size: 4vw;
    }
    .div_about_overview {
        height: 63vh;
        display: flex;
        font-size: 4vw;
        overflow-y: scroll;
        margin: 8vw 0;
    }
}