* {
    font-family: 'DM Sans', 'Arial';
    color: #3947B7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

div {
    user-select: none;
}

.header {
    width: 100vw;
    height: 6vw;
}

.div_logo_header {
    height: 6vw;
    width: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.img_logo_header {
    height: 10vh;
    width: 100%;
    object-fit: contain;
}

.div_menu {
    background-color: #3947B7;
    height: 100%;
    width: 84vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.div_menu_item {
    height: 3vh;
    font-size: 1vw;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.div_menu_item:hover {
    color: #FBB91F;
}

.main_div {
    top: 10vh;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}

.main_div::-webkit-scrollbar {
    display: none;
}

.div_content {
    height: 94vh;
    width: 100vw;
    overflow-y: scroll;
}

.div_content::-webkit-scrollbar {
    display: none;
}

.footer {
    background-color: #3947B7;
    height: 15vh;
    background-size: auto 15vh;
    background-repeat: no-repeat;
    background-position: bottom;
}

@media screen and (orientation: portrait) {
    .header {
        height: 4vh;
    }
    .div_logo_header {
        height: 4vh;
    }
    .img_logo_header {
        height: 100%;
    }
    .div_menu {
        height: 4vh;
    }
    .div_menu_item {
        font-size: 0.8vh;
    }
    .div_content {
        height: 96vh;
    }
    .footer {
        height: 6vh;
        background-size: 100vw auto;
    }
}